@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-sarif';
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

section {
    width: 100%;
    min-height: 100vh !important;
}

/* navbar */

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-brand {}

.navbar-brand span {
    font-weight: 600;
    color: yellow !important;
}

.nav-link {
    font-weight: 300;
    color: white !important;
    border-bottom: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid yellow;
}

/* Home */

#home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../img/model 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#home p {
    position: absolute;
    top: 50%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}

#home p:nth-child(1) {
    animation-delay: 0s;
}

#home p:nth-child(2) {
    animation-delay: 3s;
}

#home p:nth-child(3) {
    animation-delay: 6s;
}

#home p:nth-child(4) {
    animation-delay: 9s;
}

@keyframes text {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width:576px) {
    #home p {
        font-size: 70px;
    }
}

#home p span {
    color: yellow;
}

/* about    */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}

.circle {
    width: 400px;
    height: 400px;
    margin-top: 80px;
    background-color: black;
    border-radius: 50% !important;
    position: relative;
    box-shadow: -5px 12px 12px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.circle img {
    position: absolute;
    top: -25%;
    left: -25px;
    height: 450px;
    width: 450px;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.737));
    transition: 1s;
}

.circle:hover {
    width: 800px;
    height: 400px;
    background-color: black;
    border-radius: 10px !important;
    position: relative;
    box-shadow: -5px 12px 12px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.circle:hover img {
    content: url('../img/model\ 3.png');
    transition: 1s;
    height: 350px;
    width: 350px;
    top: 12%;
    left: 60%;
}

.circle #hover {
    color: black;
    font-size: 100px;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: -80%;
    transition: 1s;
}

.circle #me {
    color: black;
    font-size: 100px;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 105%;
    transition: 1s;
}

.circle .sub-content {
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 60px;
    color: white !important;
    width: 60%;
    transition: 1s;

}

.circle:hover h1 {
    opacity: 0;
    transition: 1s;
}

.circle:hover .sub-content {
    opacity: 1;
    transition: 1s;
}

@media screen and (max-width:576px) {
    .circle .content h1{
        opacity: 0;
    }

    .circle:hover {
        width: 400px;
        height: 500px;
        background-color: black;
        border-radius: 10px !important;
        position: relative;
        box-shadow: -5px 12px 12px rgba(0, 0, 0, 0.5);
        transition: 1s;
    }
    
    .circle:hover img {
        content: url('../img/model\ 3.png');
        transition: 1s;
        height: 300px;
        width: 300px;
        top: 40%;
        left: 50%;
    }

    .circle .sub-content {
        opacity: 0;
        position: absolute;
        top: 5%;
        left: 5%;
        color: white !important;
        width: 50%;
        
        transition: 1s;
    
    }

    .circle:hover .sub-content {
        opacity: 1;
        transition: 1s;
    }
}

/* skills */

#skills{
    background-color: black;
    color: white;
    padding-top: 5%;
    
}

#skills h1{
    color: white;
    font-size: 60px;
    font-weight: 300;
}

#skills .container{
    padding-top: 5%;
    margin-bottom: 5%;
}

.container .progress{
    height: 20px;
    transition: 0.5s;
}

.container .progress-bar{
    color: black;
    font-weight: bold;
    background-color: yellow;
    transition: 0.5s;
   
}

#skills label{
    font-size: 17px;
}

.container .progress:hover{
    height: 30px;
    border-radius: 20px;
    box-shadow: 2px 4px 2px gray;
    transition: 0.5s;
}

.container .progress:hover .progress-bar{
    /* background-color: rgb(255, 221, 0); */
    background: linear-gradient(yellow, rgb(234, 208, 11))
}

/* projects */

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    background: linear-gradient(yellow, white)
}

.carousel{
    height: 80vh;
    width: 80%;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
}

iframe {
    height: 80vh;
    width: 100%;
}

@media screen and (max-width:576px) {
    #projects{
        /* padding-top: 0 !important; */
    }

    .carousel{
        height: 40vh;
        width: 90%;
    }

    iframe{
        height: 40vh;
        width: 100%;
    }
}

/* Pricing */

#pricing{
    padding-top: 5%;
}

.card{
    margin-top: 5%;
    transition: 1s;
}

.card-header{
    background-color: yellow;
}

.card:hover{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

@media screen and (max-width:576px) {
    #pricing{
        padding-top: 0;
    }

    .container{
        width: 80%;
    }
    
}


/* contact  */

#contact{
    color: white;
    background-color: rgb(0, 0, 0);
}


