@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-sarif';
}

nav{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

section{
    /* background-color: yellow; */
    width: 100%;
    min-height: 100vh;
}

/* navbar */

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-brand{
    font-weight: 600;
}

.nav-link{
    font-weight: 300;
    color: white !important;
    border-bottom: 1px solid transparent;
}

.nav-link:hover{
    border-bottom: 1px solid white;
}

/* Home */

#home{
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9)), url('../img/model 2.jpg');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}



